@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Aboreto&family=Bellefair&family=Cinzel:wght@400..900&family=Coiny&family=Corinthia:wght@400;700&family=Lexend+Exa:wght@100..900&display=swap');


.icon-redes {
 @apply text-[#5b493b] hover:text-[#eb9d36] transition-colors duration-300 mx-2 text-xl
}

/*scroll vertical*/
::-webkit-scrollbar {
  width: 8px; /* grosor de la barra */
}

::-webkit-scrollbar-track {
  background: var(--scroll-track);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb);
  border-radius: 4px;
}

html {
  scroll-behavior: smooth;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.4s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

:root {
  --bg-1: #faf6f3;
  --bg-2: #beb093;
  --bg-3: #aa4b22;
  --bg-4: #cebfa0;
  --text-1: #5b493b;
  --text-2: #aa4b22;
  --text-3: #faf6f3;
  --border-1: #5b493b;
  --border-2: #dfc984;
  --hover-text: #e6b524;
  --hover-border-1: #dbaf27;
  --hovver-border-2: #b19950;
  --placeholder: #86420e;
  --bg-image: url('/img/fondo-light.png');
  --scroll-track:#f5e9dc;
  --scroll-thumb: #d8c49d;
}

.dark {
  --bg-1: #2b1709;
  --bg-2: #3b2b23;
  --bg-3: #b83f0b;
  --bg-4: #3b2b23;
  --text-1: #c5a48f;
  --text-2: #b83f0b;
  --text-3: #2b1709;
  --border-1: #6c5a4f;
  --border-2: #564306;
  --hover-text: #f4ae75;
  --hover-border-1: #882e07;
  --hovver-border-2: #68390c;
  --placeholder: #926947;
  --bg-image: url('/img/fondo-dark.png');
  --scroll-track:#32251d;
  --scroll-thumb: #463a30;
}



.theme-icon{
  content:url('../../public/img/dark-icon.png')
}

.dark .theme-icon{
  content:url('../../public/img/light-icon.png')
}

.logo {
  content: url('/img/logo-light.png');
}

.dark .logo {
  content: url('/img/logo-dark.png');
}

