@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Aboreto&family=Bellefair&family=Cinzel:wght@400..900&family=Coiny&family=Corinthia:wght@400;700&family=Lexend+Exa:wght@100..900&display=swap');

/*H1*/
.h1{
  @apply font-cinzel text-4xl text-text2 md:text-6xl text-center md:my-2;
}

/*H2*/
.h2{
  @apply text-3xl md:text-5xl text-text2 font-cinzel text-center my-1 ;
}

/*H2*/
.h2-left{
  @apply text-3xl md:text-5xl text-text2 font-cinzel my-3;
}

/*H3*/
.h3{
  @apply text-2xl text-text3 font-lexendExa md:text-4xl mt-1 leading-tight my-2;
}

.h4{
  @apply text-base text-text3 font-lexendExa md:text-xl max-w-[650px] mt-1 leading-tight py-2 text-center mx-auto;
}

.h4-left{
  @apply text-base text-text2 font-lexendExa md:text-xl max-w-[650px] mt-1 leading-tight py-1;
}

.paragraph{
  @apply text-text3 text-base font-lexendExa md:text-lg max-w-[600px] leading-tight;
}

.paragraph-2{
  @apply text-text5 text-base font-lexendExa md:text-lg leading-tight;
}

.verse-paragraph{
  @apply text-text1 text-lg font-lexendExa md:text-xl leading-tight;
}

.text-tiny{
  @apply text-lg mt-6 text-text1 opacity-60 font-bellefair;
}

.icon-line{
  @apply w-8 h-8 transition-all duration-300 ease-in-out;
  color: var(--icon-stroke);
  stroke: currentColor;
  fill:none;
}

.icon-base {
  @apply w-8 h-8 transition-all duration-300 ease-in-out;
  fill:var(--icon-color);
}

.section {
  @apply px-6 md:px-12 py-10;
}

.button-primary{
  @apply px-8 py-4 rounded-xl bg-bg4 text-text2 hover:bg-hoverBg text-base font-semibold 
   hover:scale-105 transition-all duration-300 m-5;
}

.button-secondary {
  @apply px-4 py-2 rounded-lg border-2 border-border1 text-text3 font-lexendExa transition-all duration-300 ease-in-out;
}

.button-secondary-hover {
  @apply text-sm sm:text-base px-2 py-1 border-2 w-auto p-1 text-text3 border-border1 hover:border-hoverBorder2 transition-colors duration-300 rounded-lg text-center
}

.button-secondary-focus {
  @apply bg-bg4 text-text3 shadow-lg  scale-105 hover:bg-hoverBg
}

.badges{
  @apply inline-flex items-center px-2 p-2
          bg-bg2 
         text-text3 text-sm font-lexendExa;
}

.icon-badge{
  @apply w-6 h-6 transition-all duration-300 ease-in-out;
  color: var(--icon-stroke);
  stroke: currentColor;
  fill:none;
}

.input{
  @apply border-2 border-border1 bg-transparent rounded-lg  h-8 px-6 py-3 m-2
  focus:outline-none focus:ring-2 focus:ring-[#d8b48a]
  text-text1 text-lg;
}


/*scroll vertical*/
::-webkit-scrollbar {
  width: 8px; /* grosor de la barra */
}

::-webkit-scrollbar-track {
  background: var(--scroll-track);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb);
  border-radius: 4px;
}

html {
  scroll-behavior: smooth;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.4s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

:root {
  --bg-1: #f5f2ec;      /* fondo principal */
  --bg-2: #f3e6d4;      /* botones beige cálido */
  --bg-3: #E8DDCF;      /* fondos secundarios */
  --bg-4: #DCCAB5;
  --bg-5: #C7A98A; 

  --text-1: #4B392C;    /* marrón suave */
  --text-2: #7f593f;    /* terracota suave */
  --text-3: #9B7A5B;    /* texto secundario cálido */
  --text-4: #FFF9F0;
  --text-5: #947150;

  --border-1: #D6C3AF;  /* borde principal */
  --border-2: #E7DDD2;  /* borde suave */

  --hover-text1: #9A6643;        /* acento cálido */
  --hover-text2: #FFF4E6;
  --hover-border-1: #BC835A;
  --hover-border-2: #C7A98A;
  --hover-bg: #E7D5BE;

  --shadow:0 6px 18px rgba(78,53,32,.10);
  --placeholder: #A48467;       /* cálido, suave */

  --icon-stroke: #9B7A5B;
  --icon-stroke-hover: #9A6643;
  --icon-color: #9B7A5B;

  --scroll-track: #EFE7DC;
  --scroll-thumb: #CCB196;
}

.dark {
  --bg-1: #291e17;      /* fondo principal */
  --bg-2: #3a2d25;      /* botones chocolate suave */
  --bg-3: #36291F;      /* fondos secundarios cálidos */
  --bg-4: #4A3627;     /* líneas divisorias terracota oscura */
  --bg-5: #654935;

  --text-1:#f9e5cd;
  --text-2:#e2b07d;
  --text-3:#cdb39b;
  --text-4:#FFF6E7;
  --text-5:#a48971;

  --border-1:#5A4637;
  --border-2:#3E3127;

  --hover-text1: #FFD1A6;        /* acento cálido */
  --hover-text2: #1F1713;
  --hover-border-1: #D59C6E;
  --hover-border-2: #7A5D49;
  --hover-bg: #5C422F;

  --shadow:0 8px 22px rgba(0,0,0,.45);
  --placeholder: #9F8268;

  --icon-color:#be9e81;
  --icon-stroke:#be9e81;
  --icon-stroke-hover: #FFD1A6;

  --scroll-track: #2D221B;
  --scroll-thumb: #5A4535;
}



.logo {
  content: url('/img/logo-light.png');
}

.dark .logo {
  content: url('/img/logo-dark.png');
}

.bg-main{
  background-image: url('/img/fondo-light.png');
}

.dark .bg-main{
  background-image: url('/img/fondo-dark.png');
}

.slide-next-enter-active,
.slide-next-leave-active,
.slide-prev-enter-active,
.slide-prev-leave-active {
  transition: all 1.5s ease;
}

.slide-next-enter-from {
  opacity: 0;
  transform: translateX(30px);
}

.slide-next-leave-to {
  opacity: 0;
  transform: translateX(-30px);
}

.slide-prev-enter-from {
  opacity: 0;
  transform: translateX(-30px);
}

.slide-prev-leave-to {
  opacity: 0;
  transform: translateX(30px);
}


/*Menu en desk*/
.fade-enter-active,
.fade-leave-active {
  transition: opacity .4s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}


/*chapter*/
.slide-chapter-enter-active,
.slide-chapter-leave-active {
  transition: transform .3s ease, opacity .3s ease;
}

.slide-chapter-enter-from {
  transform: translateX(-100%);
  opacity: 0;
}

.slide-chapter-enter-to {
  transform: translateX(0);
  opacity: 1;
}

.slide-chapter-leave-from {
  transform: translateX(0);
  opacity: 1;
}

.slide-chapter-leave-to {
  transform: translateX(-100%);
  opacity: 0;
}

.fade-scale-enter-active {
  transition: all .15s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.fade-scale-leave-active {
  transition: all .1s ease-out;
}

.fade-scale-enter-from,
.fade-scale-leave-to {
  opacity: 0;
  transform: scale(0.85);
}

