@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Aboreto&family=Bellefair&family=Cinzel:wght@400..900&family=Coiny&family=Corinthia:wght@400;700&family=Lexend+Exa:wght@100..900&display=swap');


.icon-redes {
 @apply text-text1 hover:text-hoverText transition-colors duration-300 mx-2 text-xl
}

/*scroll vertical*/
::-webkit-scrollbar {
  width: 8px; /* grosor de la barra */
}

::-webkit-scrollbar-track {
  background: var(--scroll-track);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb);
  border-radius: 4px;
}

html {
  scroll-behavior: smooth;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.4s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

:root {
  --bg-1: #b45a2b;      /* fondo principal */
  --bg-2: #e8d9c7;      /* botones beige cálido */
  --bg-3: #fcebd5;      /* fondos secundarios */
  --bg-4: #d0c0ad; 

  --text-1: #5b493b;    /* marrón suave */
  --text-2: #b45a2b;    /* terracota suave */
  --text-3: #f8d8c1;    /* texto secundario cálido */
  --text-4: #f9efd3;

  --border-1: #8c6f5a;  /* borde principal */
  --border-2: #d8b48a;  /* borde suave */

  --hover-text: #c97a3d;        /* acento cálido */
  --hover-border-1: #c97a3d;
  --hover-border-2: #b68a55;
  --hover-bg: #f3d6a4;

  --shadow: 0 2px 6px rgba(203, 175, 126, 0.543);
  --placeholder: #a06a45;       /* cálido, suave */

  --bg-image: url('/img/fondo-light.png');

  --scroll-track: #f3e7db;
  --scroll-thumb: #d2b89c;
}

.dark {
  --bg-1: #5b493b;      /* fondo principal */
  --bg-2: #3a2416;      /* botones chocolate suave */
  --bg-3: #84411a;      /* fondos secundarios cálidos */
  --bg-4: #8a5638;     /* líneas divisorias terracota oscura */

  --text-1: #f1d4c0;    /* texto principal cálido */
  --text-2: #d27a4a;    /* acento terracota */
  --text-3: #b99b85;    /* texto secundario */
  --text-4: #fed576;

  --border-1: #7a5a47;  /* borde principal */
  --border-2: #5a3a28;  /* borde suave */

  --hover-text: #e89b6b;        /* acento cálido */
  --hover-border-1: #e89b6b;
  --hover-border-2: #8a5638;
  --hover-bg: #882206;

  --shadow: 0 2px 6px rgb(247, 116, 9);
  --placeholder: #b48a6a;

  --bg-image: url('/img/fondo-dark.png');

  --scroll-track: #2f1e14;
  --scroll-thumb: #4a3326;
}




.theme-icon{
  content:url('../../public/img/dark-icon.png')
}

.dark .theme-icon{
  content:url('../../public/img/light-icon.png')
}

.logo {
  content: url('/img/logo-light.png');
}

.dark .logo {
  content: url('/img/logo-dark.png');
}

